
.test{
    display: flex;
   flex: 3;
}

.units-grid {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 15px;
}
.test2{
    flex: 1;
  }
  .drow{
   box-shadow: 0 2px 8px #00000029;
    width: 100%;
    height: 330px;
    margin-top: 20px;
    padding-top: 30px;
    border-radius: 30px;
}

.save-btn {
  display: flex;
 justify-content: center;
 margin-top: 50px;
}
.save-btn button {
   background: #000;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 17px;

}
.unit-card {
  background: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0 2px 8px #00000029;
  padding: 15px;
  margin: 8px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.unit-card:hover {
  transform: translateY(-3px);
}

.unit-card.selected {
  background: #2e2e2e;
  color: white;
}

.status-dot {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.status-dot.red {
  background: red;
}

.status-dot.green {
  background: #19d219;
}

.unit-details {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-top: 15px;
  padding: 20px;
  grid-column: 1 / -1;
}
.unit-details .unit-title {
  margin-bottom: 10px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 1.5px solid #575555; /* الخط */
  font-size: 20px;
  font-weight: 600;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 20px;
}

/* الحاوية العامة للأزرار */
.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 20px;

}

/* الدائرة الصفراء */
.icon-btn {
  width: 45px;
  height: 45px;
  border-radius: 40%;
  background: #F5D11C;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: visible;/*  كدا الحاجات الي هتطلع بره هتظهر زي النقطه الحمراء */
}

/* الصورتين داخل بعض */
.chat-icons {
  position: relative;
  width: 22px;
  height: 22px;
}

.icon-btn img {
  position: absolute;
  object-fit: contain;
  /* width: 20px;
  height: 20px; */
  /* object-fit: contain; */
}

/* الصورة الخلفية */
.icon-back {
  width: 20px;
  height: 20px;
  opacity: 0.8;
  top: 1px;
  left:2px;
}

/* الصورة الأمامية */
.icon-front {
  width: 30px;   /* ← غير دي زي ما تحب */
  height: 30px;  /* ← غير دي زي ما تحب */
  top: -4px;      /* ← تتحكم في مكانها داخل الدائرة */
  left: -3px;
}
.icon-Alarm{
  width: 24px;
  height: 24px;
  top: 8px;
  left:11px ;
}

/* النقطة الحمراء فوق */
.dot.red {
  position: absolute;
  top: -4px;    /* ← تطلعها فوق */
  right: -4px;  /* ← تبين بره الدايرة */
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  border: 2px solid white; /* شكل أنيق للفصل بينها وبين الخلفية */

}

/* النقطة السوداء تحت */
.dot.black {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background: #1A1A1A;
  border-radius: 50%;

}



@media (max-width: 500px) {

  /* نخلي الحاوية الأساسية عمودية */
  .test {
    flex-direction: column;
  }

  /* ننقل test2 لفوق */
  .test2 {
    order: -1;   /* يطلع لفوق */
    width: 100%;
    margin-bottom: 20px;
  }

  /* نخلي الشبكة تحت */
  .units-grid {
    width: 100%;
  }
}



