.tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;

}

.tabs button {
  background: none;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  color: #555;
  border-bottom: 3px solid transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tabs button.active {
  color: #000;
  border-bottom: 3px solid #000;
}
.proposal-container {
  width: 95%;
  /* max-width: 1000px; */
  margin: 2rem auto;
  font-family: "Poppins", sans-serif;
  color: #1C1C1C;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.proposal-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row {
  display: flex;
  gap: 1rem;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
font-weight: 600;
font-style: SemiBold;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
}

input,
select,
textarea {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.6rem 0.8rem;
  font-size: 0.9rem;
  outline: none;
  background: #fff;
  color: #1C1C1C33;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #f5d11c;
  box-shadow: 0 0 0 2px rgba(245, 209, 28, 0.2);
}

textarea {
  resize: none;
}

.form-row.single .form-group {
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.btn-outline,
.btn-primary {
  padding: 0.7rem 2rem;
  border-radius: 6px;
  border: 1px solid #e0d9d9;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  width: 200px;
  /* font-family: Roboto; */
font-weight: 300;
font-style: Bold;
font-size: 18px;
/* leading-trim: NONE; */
/* line-height: 100%;
letter-spacing: 0%; */

}

.btn-outline {
  background: #FFFFFF;
  color: #1B1616;
}

.btn-outline:hover {
  background: #f9f9f9;
}

.btn-primary {
  background: #F5D11C;
  border: none;
}

.btn-primary:hover {
  background: #e2c213;
}

/* Responsive Design */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}
