.contracts-container {
  /* position: relative; */
  /* height: 100vh; */
  overflow-y: auto;
  background: #fff;
  padding: 20px 30px;
}

.contracts-content {
  /* max-width: 800px; */
  margin: 0 auto;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;

  font-family: Roboto;
font-weight: 800;
font-style: ExtraBold;
font-size: 30px;
/* leading-trim: NONE; */
line-height: 24px;
letter-spacing: 0px;
vertical-align: middle;

}

h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 20px;
/* leading-trim: NONE; */
line-height: 24px;
letter-spacing: 0px;
vertical-align: middle;

}

.subtitle {
  color: #666;
  font-size: 13px;
  margin-bottom: 10px;

    font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 16px;
/* leading-trim: NONE; */
line-height: 24px;
letter-spacing: 0px;
vertical-align: middle;
color: #231F20;

}

ul {
  padding-left: 18px;
  line-height: 1.6;
  font-size: 14px;
  font-family: Roboto;
font-weight: 500;
font-style: Medium;
font-size: 14px;
/* leading-trim: NONE; */
line-height: 24px;
letter-spacing: 0px;
vertical-align: middle;

}

li {
  margin-bottom: 8px;
}

.yellow-circle {
  position: fixed;
  bottom: -150px;
  right: -150px;
  width: 500px;
  height: 500px;
  background-color: #F5D11CA1;
  border-radius: 50%;
  /* z-index: 1; */
}

/* Custom Scrollbar */
.contracts-container::-webkit-scrollbar {
  width: 6px;
}

.contracts-container::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

.contracts-container::-webkit-scrollbar-thumb {
  background-color: #f7d83b;
  border-radius: 10px;
}
