.repair-details-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #080808;
  background: #fff;
  border-radius: 6px;
  padding-left: 1.5rem;
  /* margin-bottom: 2rem; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 1609;
height: 332px;
/* angle: 0 deg; */
opacity: 1;
top: 280px;
left: 271px;
gap: 52px;

}

.repair-id {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.repair-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem 2rem;
  margin-bottom: 1.5rem;
}

.info-item label {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
}

.info-item p {
  margin: 0.2rem 0 0;
  font-size: 0.9rem;
  color: #A4A4A4;
}

.repair-section {
  margin-bottom: 1rem;
}

.repair-section label {
  display: block;
  font-weight: 600;
  color:#000000;
  margin-bottom: 0.2rem;
}

.repair-section p {
  margin: 0;
  color: #A4A4A4;
  font-size: 0.95rem;
}

/* Tags */
.tag {
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.6rem;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 500;
}

.tag.unit {
  background: #f3f3f3;
  color: #606060;
  width: 50%;
}

.tag.priority {
  color: #FFFFFF;
  width: 30%;
}

.tag.priority.high {
  color: #FFFFFF;
  background: #e74c3c;
}

.tag.priority.medium {
  background: #f1c40f;
  color: #000;
}

.tag.priority.low {
  background: #2ecc71;
}

/* Responsive */
@media (max-width: 600px) {
  .repair-info {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 1rem;
  }
}
